<%- include("../../views/partials/user/header") %>


  <style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: "Arial", sans-serif;
    }

    body {
      background: #fff;
      color: #222;
    }

    /* ---------- MAIN ---------- */
    main {
      padding: 60px;
    }

    h2 {
      text-align: center;
      letter-spacing: 4px;
      font-size: 16px;
      margin-bottom: 60px;
    }

    .cart-container {
      display: grid;
      grid-template-columns: 2fr 1fr;
      gap: 80px;
      align-items: flex-start;
    }

    /* ---------- CART ITEMS ---------- */
    .cart-item {
      display: flex;
      align-items: center;
      margin-bottom: 40px;
      margin-left: 40px;
    }

    .cart-item img {
      width: 120px;
      height: auto;
      margin-right: 30px;
    }

    .item-info {
      flex: 1;
    }

    .item-info h4 {
      font-size: 14px;
      letter-spacing: 1px;
      margin-bottom: 6px;
    }

    .item-info p {
      font-size: 13px;
      color: #777;
    }

    .qty {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-right: 40px;
    }

    .qty button {
      width: 28px;
      height: 28px;
      border: 1px solid #ddd;
      background: none;
      cursor: pointer;
    }

    .price {
      font-size: 14px;
      color: #e86b4f;
      margin-right:50px;
      width: 70px;
      text-align: right;
    }
    .pricee {
      font-size: 14px;
      color: #e86b4f;
      margin-right:20px;
      width: 70px;
      text-align: right;
      text-decoration: line-through;
    }

    /* ---------- SUMMARY ---------- */
    .summary {
      border: 1px solid #eee;
      padding: 30px;
    }

    .summary h3 {
      text-align: center;
      font-size: 14px;
      letter-spacing: 2px;
      margin-bottom: 25px;
    }

    .row {
      display: flex;
      justify-content: space-between;
      margin-bottom: 14px;
      font-size: 14px;
    }

    .row span:last-child {
      font-weight: 500;
    }

    .total {
      border-top: 1px solid #eee;
      margin-top: 20px;
      padding-top: 20px;
      font-weight: bold;
      font-size: 16px;
    }

    .buy-btn {
      margin-top: 25px;
      width: 100%;
      padding: 14px;
      background: #000;
      color: #fff;
      border: none;
      cursor: pointer;
      letter-spacing: 2px;
    }

   
  </style>
</head>

<body>

<!-- MAIN -->
<main>
  <h2>CART</h2>

  <div class="cart-container">

    <!-- LEFT -->
    <div>

      <% if (cartItems.length === 0) { %>
        <div style="margin-left: 550px; display: inline-block;">
          <p>Your cart is empty</p>
          <a href="/user/productList"><button>Shop now</button></a>
        </div>
      <% } else { %>

        <% cartItems.forEach(item => { %>

          <!-- ONE PRODUCT -->
          <div class="cart-item">

            <a href="/user/productDetail?id=<%=item.productId._id%>"><img src="<%= item.productId.images[0].url %>" alt=""></a>

            <div class="item-info">
              <%
  const variant = item.productId.variants.find(
    v => v._id.toString() === item.variantId.toString()
  );
%>

<h4>
  <%= item.productId.name %>

  <% if(variant && variant.size){ %>
    <span style="font-size:13px;color:#666;">
      (Size: <%= variant.size %>)
    </span>
  <% } %>

</h4>
              <p><%= item.productId.title %></p>
            </div>

            <div class="qty">

      <button
        type="button"
        onclick="updateQty(
          '<%= item.productId.id%>',
          '<%= item.variantId %>',
          -1
        )">-</button>

      <span id="qty-<%= item.productId.id %>-<%= item.variantId %>">
        <%= item.quantity %>
      </span>

      <button
        type="button"
        onclick="updateQty(
          '<%= item.productId.id%>',
          '<%= item.variantId%>',
          1
        )">+</button>


      </div>
            

            <span class="price" id="price-<%= item.productId.id %>-<%= item.variantId %>">
            ₹<%= item.originalPrice*item.quantity%>
          </span>


            <div><button onclick="return cFun('<%=item.productId._id%>','<%=item.variantId%>')" style="font-weight: 500;">REMOVE</button></div> 

          </div>

  

          <% }) %>
      
        <% } %>
    </div>
      

      <!-- RIGHT -->
     <% if(cartItems.length>0){%>
        <div class="summary">

        <h3>CART TOTAL</h3>

        <div class="row">
          <span>Sub-total</span>
          <span id="subTotal">₹<%= subTotal %></span>
        </div>

        <div class="row">
          <span>Shipping</span>
          <span>Free</span>
        </div>

        <div class="row">
          <span>Discount</span>
          <span id="discount">₹<%= discount %></span>
        </div>

        <div class="row total">
          <span>Total</span>
          <span id="total">₹<%= total %></span>
        </div>

          <button onclick="moveToCheckout()" class="buy-btn">👜 BUY NOW</button>
        
      </div>
     <%}%>

    </div>
  </main>

     <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css"
    />

    <!-- Toastify JS -->
    <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
      const defaultAddress = <%- JSON.stringify(defaultAddress || null) %>;
      const subTotal = <%- JSON.stringify(subTotal || 0) %>;
      const discount = <%- JSON.stringify(discount || 0) %>;
      const total = <%- JSON.stringify(total || 0) %>;
    </script>

  <script>

    function showToast(message, type = "success") {
        Toastify({
        text: message,
        duration: 3000,
        gravity: "bottom",       
        position: "center",    
        close: true,
        stopOnFocus: true,
        style: {
          background:
            type === "success"
              ? "linear-gradient(to right, #16a34a, #22c55e)"
              : "linear-gradient(to right, #dc2626, #ef4444)",
        }
      }).showToast();
    }

    async function cFun(pId, vId) {

    const result = await Swal.fire({
      title: "Remove Item?",
      text: "Are you sure you want to remove this item?",
      icon: "warning",
      showCancelButton: true,
      confirmButtonColor: "#dc2626",
      cancelButtonColor: "#6b7280",
      confirmButtonText: "Yes, Remove",
      cancelButtonText: "Cancel"
    });

    if (!result.isConfirmed) return;

    try {

      const res = await fetch("/user/cart/remove", {
        method: "DELETE",
        headers: {
          "Content-Type": "application/json"
        },
        body: JSON.stringify({
          productId: pId,
          variantId: vId
        })
      });

      const data = await res.json();

      /* LOGIN ERROR */
      if (res.status === 401) {
        showToast(data.message || "Please login", "error");

        setTimeout(() => {
          window.location.href = "/user/login";
        }, 1200);

        return;
      }

      /* SUCCESS */
      if (res.ok && data.success) {

        showToast(
          data.message || "Item removed successfully",
          "success"
        );

        setTimeout(() => {
          window.location.reload();
        }, 900);

      } else {
        showToast(
          data.message || "Error removing product",
          "error"
        );
      }

    } catch (err) {
      console.error(err);
      showToast("Server error", "error");
    }
  }

    async function updateQty(productId, variantId, num) {

      const res = await fetch("/user/cart/update-qty", {
        method: "PATCH",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify({ productId, variantId, num })
      })

      const data = await res.json()

      if (!res.ok) {
        showToast(data.message, "error")
        return
      }

      document.getElementById(`qty-${productId}-${variantId}`).innerText =
      data.quantity

    document.getElementById(`price-${productId}-${variantId}`).innerText =
      data.price

    document.getElementById("subTotal").innerText =
      `₹${data.subTotal}`

    document.getElementById("discount").innerText =
      `₹${data.totalDiscount}`

    document.getElementById("total").innerText =
      `₹${data.grandTotal}`

    }

    async function moveToCheckout() {  

      const res = await fetch("/user/checkout", {
        method: "POST",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify({defaultAddress,subTotal,discount,total})
      })

      const data = await res.json()

      if(data.status === 403){
        showToast(data.message, "error")
        return 
      }

      if (!res.ok && !data.success) {
        showToast(data.message, "error")
        return
      }
      if(res.ok && data.success){
        window.location.href = "/user/checkout"
      }
    }


  </script>

 <%- include("../../views/partials/user/footer") %>
